body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
}

img {
  width: 300px;        /* set width */
  border-radius: 10px; /* rounded corners */
  display: block;      /* makes image appear on its own line */
  margin: 20px auto;   /* center it */
}

